.cover-image {
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.cover-image::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .7;
}

.caption {
    color: aliceblue;
    bottom: 182px;
    top: 182px;
    padding-left: 50px;
    padding-right: 50px;
}

.caption h5 {
    font-size: 65px;
    font-weight: 600;

}

.caption p {
    font-weight: 400;
    font-size: 18px;
}

.card-size {
    width: 648px;
    height: 200px;
}

.one-card-size {
    width: 1320px;
    height: 806px;
}

.one-card-size img {
    width: 600px;
    height: 806px;
}

.one-card-text {
    width: 606px;
    height: 546px;
}

.register-section {
    width: 1320px;
    height: 300px;
    background: #289BDE;
    border-radius: 5px;
}

.size-card {
    width: 312px;
    height: 400px;
}